<div class="edit-group-container">
  <app-groups-select/>

  <button
    (click)="showDialogDeleteGroup()"
    appearance="secondary-destructive"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.trash"
    />
  </button>


  <button
    (click)="showDialogAddGroup()"
    appearance="primary"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.plus"
    />
  </button>

  <button
    (click)="showDialogEditGroup()"
    appearance="info"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.settings"
    />
  </button>

  <button
    appearance="info"
    size="m"
    tuiButton
    type="button"
    (click)="showDialogRefreshGroup()"
  >
    <tui-icon
      icon="@tui.rotate-ccw"
    />
  </button>
</div>
