<div class="edit-group-container">
  <app-groups-select/>

  <button
    (click)="dialogs.showDialogAddGroup()"
    appearance="primary"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.plus"
    />
  </button>

  <button
    (click)="dialogs.showDialogEditGroup()"
    [disabled]="!isNotEditable()"
    appearance="info"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.settings"
    />
  </button>

  <button
    (click)="dialogs.showDialogRefreshGroup()"
    [disabled]="!isHaveSubUrl()"
    appearance="info"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.rotate-ccw"
    />
  </button>

  <button
    (click)="dialogs.showDialogDeleteGroup()"
    [disabled]="!isNotRemovable()"
    appearance="secondary-destructive"
    size="m"
    tuiButton
    type="button"
  >
    <tui-icon
      icon="@tui.trash"
    />
  </button>
</div>
