<div class="edit-group-container">
  <app-groups-select/>

  <button
    size="m"
    tuiButton
    appearance="negative"
    type="button"
    (click)="showDialogDeleteGroup()"
  >
    <tui-icon
      icon="@tui.trash"
    />
  </button>

  <button
    size="m"
    tuiButton
    appearance="info"
    type="button"
    (click)="showDialogEditGroup()"
  >
    <tui-icon
      icon="@tui.settings"
    />
  </button>

  <button
    size="m"
    tuiButton
    appearance="info"
    type="button"
    (click)="showDialogAddGroup()"
  >
    <tui-icon
      icon="@tui.plus"
    />
  </button>
</div>
