:host {
  display: block;
  height: calc(100vh - 64px);
}

.viewport {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-anchor: none;
}

.message {
  padding: 3px 12px;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 13px;
  line-height: 1.5;
}

.error {
  color: var(--tui-error-fill);
}

.warning {
  color: var(--tui-warning-fill);
}
