:host {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  height: 100%;

  tui-scrollbar {
    background: #151515;

    border-radius: 2em;
  }

  tui-scrollbar,
  .viewport {
    height: 20em;

    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;

    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1em;
    }
  }
}
