<h2>Xray logs</h2>

<tui-scrollbar>
  <cdk-virtual-scroll-viewport
    autosize
    class="viewport tui-zero-scrollbar"
    tuiScrollable
  >
    <div *cdkVirtualFor="let message of messages(); trackBy: trackByFn"
         [class.error]="message.trim().startsWith('Failed')"
         [class.warning]="message.trim().endsWith('failed')"
         class="message"
    >
      {{ message }}
    </div>
  </cdk-virtual-scroll-viewport>
</tui-scrollbar>

<button (click)="forceScrollToBottom()">To Bottom</button>
