:host {
  display: block;

  border-radius: 1em 1em 0 0 ;
  overflow: hidden;

  flex: 1;

  tui-scrollbar,
  .viewport {
    height: 100%;

    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  app-config-card {
    width: 100%;
  }
}
