:host {
  border-radius: 1em;
  overflow: hidden;

  flex: 1;
  display: flex;
  flex-direction: column;

  tui-scrollbar,
  .viewport {
    height: 100%;

    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;

    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1em;
    }
  }

  app-config-card {
    width: 100%;
    margin-bottom: 1em;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .loading-indicator,
  .all-loaded-message {
    padding: 1em;
    text-align: center;
    color: var(
        --tui-text-color-secondary
    );
    font-size: 0.9em;
  }
}
