<app-xray-logs/>

<div [style.height.em]="100">
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
</div>

<div [style.height.em]="100">
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
</div>

<div [style.height.em]="100">
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
</div>

<div [style.height.em]="100">
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
  demo
</div>
